<!DOCTYPE html>

<html lang="en">
    <head>
            <meta charset="UTF-8">
            <title>{{.siteTitle}}</title>
    </head>   
    <body>
          TEST  
        <img src="./go-diagrams/provision-production.dot.png" alt="diagram" title="diagram">
    </body>  
</html>