<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{.siteTitle}}</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>   
    <body>
        <div class="sidebar">
           
        </div>
        <div class="diagram--area">
            <a href="{{.fileName}}" target="_blank">
                <img src="{{.fileName}}" alt="diagram" title="diagram">
            </a>
        </div>
    </body>  
</html>