body {
    margin: 0;
}

.sidebar {
    background-color: black;
    height: 100vh;
    position: fixed;
    width: 300px;
    border-color: red;
    border-style: solid;
}

.diagram--area {
    position: fixed;
    border-color: green;
    border-style: solid;
    left: 303px;
    width: 82.4vw;
    
}

.diagram--area img {
    border-color: purple;
    border-style: solid;
    width: 200px;
    position: relative;

}